html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #0000;
}

/* 圆角与padding相关 阴影与margin相关 宽高与margin&padding相关 调整需联动 */
#root {
  margin: 16px;
  padding: 8px;
  position: relative;
  top: 0;
  left: 0;
  height: calc(100% - 48px);
  width: calc(100% - 48px);
  border-radius: 8px;
  box-shadow: 0 0 12px gray;
  overflow: hidden;
  background-color: var(--color-comm-general);
}
